body {
  background-color: #ececec;
  box-sizing: border-box;
  font-family: ' Lexend Deca' , sans-serif;
  margin: 0;
  padding: 0;
}

.Pages {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}


.Login {
  background-color: darkseagreen;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 80px;
  padding-bottom: 90px;
  width: 400px;
}

.Inputs-login {
  background-color: #181725;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 4px 10px;
  width: 80%;

}

.Button-play {
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 7px 10px;
  width: 80%;
}

.Button-game {
  background-color: #ececec;
  border: 3px solid rgba(0, 0, 0, 0.481);
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 7px 10px;
  width: 80%;
}

.Button-config {
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 10px;
  padding: 4px 10px;
  width: 40%;
}

.Button-next {
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 10px;
  padding: 4px 10px;
  width: 40%;
}

.Game {
  background-color: darkseagreen;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 80px;
  padding-bottom: 100px;
  width: 400px;
}


.Header {
  align-items: flex-start;
  background-color: #181725;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  padding: 10px 100px;
  padding-bottom: 10px;
  width: 200px;
}

.Header-text {
  color: white;
  font-weight: 200;
  margin: 20px;
}

.Header-img {
  border: 5px solid  #ececec;
  border-radius: 10px;
}

.Feedback {
  background-color: darkseagreen;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 80px;
  padding-bottom: 100px;
  width: 400px;
}

.Ranking {
  background-color: darkseagreen;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 80px;
  padding-bottom: 100px;
  width: 400px;
}

.Ranking-player {
  background-color: #181725;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 30px;
  padding: 10px 80px;
  padding-bottom: 20px;
  width: 200px;
}

.btn_vermelho {
  background-color: #ececec;
  border: 3px solid red;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 7px 10px;
  width: 80%;
}

.btn_verde {
  background-color: #ececec;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 7px 10px;
  width: 80%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    margin: 10px;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
